html(lang="en")
   head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      title captured
      
   body
   h1.center.align Thank you for the info 

   p #{id}
   p  #{visitor}
   p  #{assistant_name}
   p  #{visitors_age}
   p  #{time_of_visit}
   p  #{comment}
   


       